@font-face {
  font-family: Cutive Mono;
  src: local('Cutive Mono'), url(./fonts/CutiveMono-Regular.ttf) format('truetype');
}
.App {
  text-align: center;
}
pre{
  font-family: 'Cutive Mono', monospace;
  font-size: 12px;
}
.App > * {
  flex: 1 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.centerFixed{
  transform: translate(-18px);
}
table{
 width:100%;
 padding-bottom: 15px;
 border-bottom: 1px solid gray;
}
.tableList{
  padding:5px;
}
.tableList td, .tableList th{
  padding:2px 2px;
  text-align:left;
}
.myButtonEdit{
  background-color: #02a4bc;
  color: #fff;
  display: inline-block;
  padding: 1px 15px;
  margin-right: 3px;
  border:none;
  cursor:pointer;
  font-size: 12px;
}
.headName{
  width: 74px;
}
.headAddress{
  width: 140px;
}
.headPhone{
  width: 76px;
}
.myButtonDelete{
  background-color: red;
  color: #fff;
  display: inline-block;
  border:none;
  cursor:pointer;
  font-size: 12px;
}
.myButtonDelete:hover{
  background-color: white;
  color: red;

}
.myButtonDelete:disabled{
  background-color: gray;
  color: white;
}
.myButtonAdd{
  background-color: #02a4bc;
  color: #fff;
  display: inline-block;
  padding: px;
  border:none;
  cursor:pointer;
  font-size: 12px;
}
.myButtonAdd:hover{
  background-color: green;
  color: white;
}
.myButtonEdit:hover{
  background-color: rgb(168, 177, 3);
  color: yellow;
}
input, .inputName, .inputAddress, .inputPhone{
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  margin-right: 5px;
}
.inputName {
  width: 70px;
}
.inputAddress {
  width: 136px;
}
.inputPhone {
  width: 75px;
}
.myForm{
  padding: 0px;
  margin-top: 0px;
}
.centerText{
  text-align: center !important;
}
